.progress-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--font-medium);
}

.progress-bar {
    height: var(--font-small);
    background-color: #bc5f31;
    border-radius: 0;
    position: relative;
    

}

.progress {
    height: 100%;
    border-radius: 0;
    background-color: var(--color-buttons);
}
  

.player-button {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
}

.player-button-icon {
    font-size: var(--font-large);
    color: var(--color-buttons);
}